body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #1C1C1C !important;
}
.row {
    margin: 0;
    width: 100%;
    --bs-gutter-x: 0 !important;
}
* {
    font-family: 'Roboto';
}
.cabecalho h1 {
    color: "#008080";
}

.bem_vindo{
    margin-top: 50px;
}

.apresentacao {
    margin-left: 200px;
    margin-top: 100px;
    font-size: larger;
    color: #DB7093;
}

.image {
    margin-right: 100px;
}

.container {
    background-color: #2e004e;
    padding-top: 30px;
    margin-right: 250px;
    margin-left: 250px;
    margin-top: 30px;
}

.box1 {
    height: 350px;
    /* margin: 15px; */
    /* margin-right: 30px;
    margin-left: 80px;
    margin-bottom: 30px; */
    padding: 15px !important;
    background: #FFFAFA;
    text-align: justify;
}

.box2 {
    height: 350px;
    /* margin: 15px; */
    /* margin-right: 30px;
    margin-left: 50px;
    margin-bottom: 30px; */
    padding: 15px;
    background: #FFFAFA;
}

.box3 {
    height: 350px;
    /* margin: 15px; */
    /* margin-right: 15px;
    margin-left: 50px;
    margin-bottom: 30px; */
    padding: 15px;
    background: #FFFAFA;
}

.container1 {
    height: 1100px;
    min-width: none;
    background-color: #363636;
    margin: 80px;
    padding: 15px;
}

.sobre_cc {
    padding: 15px;
    font-size: 28px;
}

.meme {
    margin-right: 90px;
    margin-left: 330px;
    font-size: 18px;
}

.fim {
    font-size: 28px;
    text-align: center;
    margin-top: 100px;
}

.boulos {
    padding-right: 50px;
    text-align: justify;
    font-size: larger;
    padding-left: 50px;
    padding-top: 30px;
}

.texto_fim {
    padding-top: 40px;
    margin-left: 80px;
}

.rodapé {
    padding-left: 90px;
}